* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.about-hero {
    position: relative;
    height: 420px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Slides */
.slides {
    position: absolute;
    width: 100%;
    height: 100%;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transform: scale(1);
    transition: opacity 1.5s ease-in-out;
}

/* Active slide */
.slide.active {
    opacity: 1;
    animation: zoomEffect 10s linear forwards;
}

/* Zoom animation */
@keyframes zoomEffect {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.15);
    }
}

/* Yellow overlay */
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(226, 192, 41, 0.700);
    z-index: 2;
}

/* Text */
.hero-content {
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}


.hero-content h1 {
    color: #fff;
    font-size: 70px;
    font-weight: 700;
    letter-spacing: 1px;
    box-sizing: border-box;
}

/* Bottom curve */
.triangle-curve {
    position: absolute;
    bottom: -1px;
    width: 100%;
    height: 300px;
    background: #fff;
    clip-path: polygon(50% 90%, 100% 70%, 100% 100%, 0 100%, 0 70%);
    z-index: 4;
}

.our_brand .title{
color:rgb(9, 87, 118);
}

.brand_name{
    color: rgb(230, 183, 59);
}