/* ================= BLOG DETAILS ================= */

.blog-details-section {
  padding: 70px 0;
  background: #f7f7f7;
}

.blog-details-image img {
  width: 100%;
  height: 420px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 40px;
}

.blog-details-content h1 {
  font-size: 34px;
  color: #0b1c39;
  margin-bottom: 10px;
}

.blog-details-content .date {
  color: #666;
  font-size: 14px;
  margin-bottom: 20px;
}

.blog-details-content p {
  font-size: 16px;
  color: #444;
  line-height: 1.8;
  margin-bottom: 18px;
}

/* BACK BUTTON */

.back-btn {
  display: inline-block;
  margin-top: 25px;
  padding: 10px 22px;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;

  background: linear-gradient(
    260deg,
    #eb8715,
    #110674
  );
}

.back-btn {
  background: linear-gradient(260deg, #eb8715, #110674);
  color: #fff;
  padding: 10px 22px;
  border-radius: 4px;
  text-decoration: none;
  display: inline-block;
}
.blog-details-content {
  max-width: 900px;
  margin: auto;
}  


.blog-details-image img {
  width: 100%;
  height: 420px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 40px;
}


