* {
  font-family: 'Poppins', sans-serif;
}

/* default hidden */
.animate-left,
.animate-right {
  opacity: 0;
}
.about-hero{
		background-color: rgba(240, 239, 238, 0.639) !important;
	overflow: hidden !important;
}
.section1 {
	background-color: rgb(250, 241, 233) !important;
	overflow: hidden !important;
}
.section2 {
	background-color: rgba(240, 239, 238, 0.639) !important;
	overflow: hidden !important;
}

.section1,
.section2 {
  padding-top:0px;
  padding-bottom: 0px;
	height: auto;
}

.hero-content h1
{
	font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-size: 56px;
  color: #00253e;
}

/* show on scroll */
.animate-left.show {
  animation: slideFromLeft 1.1s ease-in-out forwards;
}

.animate-right.show {
  animation: slideFromRight 1.1s ease-in-out forwards;
}

@keyframes slideFromLeft {
  from {
    transform: translateX(-120px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideFromRight {
  from {
    transform: translateX(120px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* mobile safety */
@media (max-width: 768px) {
  .animate-left.show,
  .animate-right.show {
    animation-duration: 0.8s;
  }
}



