*{
  padding: 0;
  margin: 0;
  
}
body{
  overflow-x:hidden;
}

/* HERO */
.hero{
  height:90vh;
  position:relative;
}

.hero video{
  width:100%;
  height:100%;
  object-fit:cover;
}

.hero-content{
  position:absolute;
  top:50%;
  left:8%;
  transform:translateY(-50%);
  color:#fff;
}

.hero-content h1{
  font-size:55px;
}

.hero-btn{
  margin-top:15px;
  display:inline-block;
  padding:12px 20px;
  background:#ffc107;
  border-radius:8px;
  font-weight:bold;
}

/* CARDS */
.cards{
  display:flex;
  justify-content:center;
  gap:20px;
  padding:40px 0;
}

.card{
  background:#f5f5f5;
  padding:25px;
  width:260px;
  border-radius:12px;
}

/* BLOGS */
.blog-grid{
  display:flex;
  justify-content:center;
  gap:20px;
  padding:30px;
}

.blog-card{
  width:250px;
  background:#fff;
  border-radius:12px;
  box-shadow:0 3px 10px rgba(0,0,0,0.12);
  overflow:hidden;
}

.blog-card img{
  width:100%;
}

.btn{
  display:inline-block;
  padding:10px 18px;
  background:green;
  color:white;
  border-radius:8px;
}

/* RESPONSIVE */
@media(max-width:768px){
  .cards,
  .blog-grid{
    flex-direction:column;
    align-items:center;
  }

  .hero-content h1{
    font-size:35px;
  }
}